.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding: 92px 49px 92px 51px;
}
.header__menu {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  align-self: center;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32px;
}
.header__links-list-item {
  list-style: circle;
}
.header__links-link-item_nobullit {
  list-style: none;
}
.header__links {
  text-decoration: none;
}
.header__links_active {
  text-decoration: underline;
}
.header__logo-image {
  height: 105px;
  display: flex;
  justify-self: center;
}
.address {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  max-width: 240px;
}
.header__address {
  justify-self: end;
}
.address__link {
  text-decoration: underline;
}
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
.cover__title {
  position: relative;
  z-index: 2;
  padding: 165px 50px 135px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text {
  text-align: left;
}
.letter-spacing-extended {
  letter-spacing: 65px;
}
.aligned-text-center {
  text-align: center;
}
.aligned-text-right {
  text-align: right;
}
.cover__description {
  display: flex;
  justify-content: end;
  padding-right: 50px;
  padding-bottom: 62px;
  column-gap: 78px;
}
.cover__description-text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}
.bet-button {
  position: relative;
  z-index: 2;
  background-color: transparent;
  padding: 12px 32px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.lots {
  width: 100%;
  padding: 180px 50px;
}
.lots__heading {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}
.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 40px;
}
.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 30px;
  list-style: none;
}
.lots__card-list-item {
  width: 430px;
  height: 450px;
}
.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 55px 0 0 40px;
}

.about {
  padding: 180px 50px;
  display: grid;
  grid-template-columns: 430px auto;
  justify-items: center;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  margin-top: 100px;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.about__text {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 50px 90px 50px;
  gap: 355px;
}
.footer__menu {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__menu-list {
  list-style: none;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
