.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-link-item_nobullit {
  list-style: none;
}

.header__links {
  text-decoration: none;
}

.header__links_active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__logo-image {
  height: 105px;
  display: flex;
  justify-self: center;
}

.address {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  max-width: 240px;
  white-space: wrap;
}

.header__address {
  justify-self: end;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 757px;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 135px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  text-align: left;
}

.letter-spacing-extended {
  letter-spacing: 64px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text-center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
  line-height: 80%;
}

.cover__description {
  display: flex;
  justify-content: end;
  padding-top: 11px;
  padding-right: 50px;
  padding-bottom: 48px;
  column-gap: 78px;
}

.cover__description-text {
  position: relative;
  z-index: 1;
  padding-top: 12px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 12px 32px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  width: 100%;
  padding: 182px 50px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 55px 0 0 40px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.about {
  padding: 0 50px 158px 50px;
  display: grid;
  grid-template-columns: 430px 2fr;
  gap: 25px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 100px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.footer {
  display: grid;
  grid-template-columns: 240px 149px 240px;
  padding: 0 50px 90px 50px;
  gap: 355px;
}

.footer__menu {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}